<!-- header-section start -->
<%- include('_header',{user}) %>
<!-- header-section end -->
<!-- register-section start -->
<%- include('_signup',{user,registrationError}) %>
<!-- register-section end -->
<!-- login-section start -->
<%- include('_login',{user}) %>
<!-- login-section end -->

<form class="header-form">
    <div class="skip"><i class="fas fa-times"></i></div>
    <div class="header-form-area">
        <input type="text" placeholder="Search Here">
        <button type="submit"><i class="flaticon-search-interface-symbol"></i></button>
    </div>
</form>


<!-- banner-section start -->
<section class="inner-banner-section pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="inner-banner-content">
                    <h2 class="title">booking flight</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->


<!-- breadcrumb-section start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Payment</a></li>
                        <li class="breadcrumb-item active" aria-current="page">booking</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-section end -->

<a href="#" class="scrollToTop"><i class="fas fa-angle-up"></i></a>


<!-- booking-registration-section start -->
<section class="booking-registration-section pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <% if(dbError) {%>
                <div class="alert alert-danger" role="alert" style="z-index: 999;">
                    <%=dbError%>
                </div>
                <% } %>
                <form class="general-information" id="bookingForm" action="create-booking">

                    <div class="booking-registration-form">
                        <div class="booking-form-area">
                            <h3 class="title">Payment information</h3>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Price</label>
                                <div class="col-lg-8">
                                    <% console.log(price)%>
                                    <input type="text" class="form-control" value="$<%= price%>" disabled>
                                </div>
                            </div>

                        </div>
                    </div>


                </form>





                <div class="educational-registration-form">
                    <div class="booking-form-area">
                        <div class="row justify-content-center">

                            <div class="col-lg-12 text-center">

                                <form method="post" action="/booking/payment/success">
                                    <button type="submit" class="cmn-btn">Pay</button>
                                </form>
                                <hr>
                              
                                <form method="post" action="/booking/payment/cancel">
                                    <input type="hidden" id="booking_id" value="<%= booking_id %>">

                                    <button type="submit" class="cmn-btn">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <%console.log(booking_id)%>
        </div>
    </div>
</section>
<div id='seconds-counter'> </div>
<script>
    var seconds = 20;
    var el = document.getElementById('seconds-counter');

function incrementSeconds() {
   
    if (seconds>60){
        mint=Math.floor(seconds/60);
        sec=seconds%60;
        el.innerText = "Time Remaining is  " +mint + " Minuites and "+ sec + " seconds.";
    }
    else{
        el.innerText = "Time Remaining is  " + seconds + " seconds.";
    }
    seconds -= 1;
    
}

    var cancel = setInterval(incrementSeconds, 1000);
   
    setTimeout(delBooking, 20000);
    

    function delBooking(){
        alert("Your time has expired! Your booking will be deleted");
        $.ajax({
                    type: "DELETE",
                    url: '/booking/deleteBooking',
                    data: {
                        'booking_id' : $('#booking_id').val(),
                        
                    },
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    success: function (response) {
                        if (response.result === 'redirect') {
                            //redirecting
                            let baseurl = window.location.origin;
                            let url = baseurl + response.url;
                            window.location.href = url;
                        }
                    },
                    error: function (res) {
                    }
                });
    }
</script>
<%- include('_footer',{user}) %>
