<!-- header-section start -->
<%- include('_header',{user}) %>
<!-- header-section end -->
<!-- register-section start -->
<%- include('_signup',{user,registrationError}) %>
<!-- register-section end -->
<!-- login-section start -->
<%- include('_login',{user}) %>
<!-- login-section end -->

    <form class="header-form">
        <div class="skip"><i class="fas fa-times"></i></div>
        <div class="header-form-area">
            <input type="text" placeholder="Search Here">
            <button type="submit"><i class="flaticon-search-interface-symbol"></i></button>
        </div>
    </form>


    <!-- banner-section start -->
    <section class="inner-banner-section pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="inner-banner-content">
                        <h2 class="title">Terms & Conditions</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-section end -->


    <!-- breadcrumb-section start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Terms & Conditions</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-section end -->
  
    
    <a href="#" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
            
    <!-- privacy-details-section start  -->
    <div class="privacy-details-section pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <%- include('headings-list-privacy') %>
                <main class="col-lg-10">
                    <div class="privacy-details-wrapper">
                        <div class="details-area">
                            <div class="single-row"  id='#datacollect'>
                                <div class="left">
                                    <span class="row-title" >data collect</span>
                                </div>
                                <div class="right">
                                    <p>
                                        The B Airways Group entity responsible for your personal information will be the member of B Airways Group that originally
                                        collects information from or about you. Where the collection and use of personal information is not addressed by this Privacy 
                                        Notice, the privacy notice made available when your personal information is collected will apply.
                                    </p>
                                    <br>
                                    <p>
                                        You do not have to provide your personal information to us, but if you do not provide certain information we will
                                        only be able to provide limited products and services to you
                                    </p>
                                </div>
                            </div>
                            <div class="single-row">
                                <div class="left" id="cookies">
                                    <span class="row-title">how we use cookies</span>
                                </div>
                                <div class="right">
                                    <p>
                                        We use cookies to help our website function properly, for analytics, marketing and to personalise the content you see. 
                                        By using this B Airways website and our mobile applications and mobile websites (“the Platforms”) you agree and consent 
                                        that we and third parties can store and access cookies, IP addresses and use other tracking technology methods to 
                                        enable Platform functionality, collect aggregated data about website usage, improve your online experience and manage 
                                        and tailor our advertising and service communications with you.
                                    </p>
                                    <br>
                                    <p>
                                        Our Platforms use different types of cookies. Session cookies exist just for your session on our Platform and persistent 
                                        cookies exist for a period of time after your visit. First party cookies are cookies set by our Platforms and third party 
                                        cookies are set by third party platforms. We utilise both session and persistent cookies, and first and third party cookies.
                                    </p>
                                    <ul class="top">
                                        <li>
                                            Essential Cookies ‑ These cookies are essential for the operation of our Platforms including
                                            enabling you to log into secure areas of our websites, progress or complete a booking or make use of other online services we provide. 
                                        </li>
                                        <li>
                                            Functional cookies – These cookies are used to recognise you when you return to our Platforms and enables us to personalise our 
                                            content for you and greet you by name
                                        </li>
                                        <li>
                                            Marketing cookies ‑ These cookies record your visit to our websites, the pages you have visited and actions you have taken. 
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-row" >
                                <div class="left" id="security">
                                    <span class="row-title">security</span>
                                </div>
                                <div class="right">
                                    <p>
                                        We will take all reasonable measures to insure information you transmit to us using the Website will remain confidential and protected from unauthorized 
                                        access. Despite those measures, we do not warrant unauthorized access to that information can never happen. We will not be liable for any such unauthorized
                                        access unless caused solely by our gross negligence, in which event you will be entitled to compensation up to a maximum of the value of the services purchased by you.
                                    </p>
                                </div>
                            </div>
                            <div class="single-row" id="otherwebsites">
                                <div class="left">
                                    <span class="row-title">Third party websites</span>
                                </div>
                                <div class="right">
                                    <p>
                                        You might find external links to third party websites on our Platforms. Our Privacy Notice does not apply to your use of a third party site.
                                        We are not responsible for the privacy practices of websites that are not operated by an entity in the B Airways Group and encourage you to
                                        read the privacy statements of any such third party site.
                                    </p>
                                </div>
                            </div>
                            <div class="single-row" id="propertyrights">
                                <div class="left">
                                    <span class="row-title">Intellectual property rights</span>
                                </div>
                                <div class="right">
                                    <p>
                                        All trademarks, copyright, database rights and other intellectual property rights in the content and materials included on the Website,
                                        such as text, graphics, logos, button icons, images, audio clips, digital downloads, data compilations (as well as the organisation and lay
                                        out of the Website), and software are the property of B Airways, its affiliates or its content suppliers and is protected by international 
                                        trademark copyright and database laws and treaties around the world. All such rights are reserved.
                                    </p>
                                </div>
                            </div>
                            <div class="single-row" id="websitebooking">
                                <div class="left">
                                    <span class="row-title">Website Booking</span>
                                </div>
                                <div class="right">
                                    <p>
                                        You may book tickets on the Website without registering. However, if you register with B Airways,
                                         you’ll be able to store your personal information in your profile, so there will
                                          be no need to re-enter the information the next time you log in and book travel on the Website. If you are
                                           not already an B Airways member, you may register first. We recommend you fill in your 
                                           personal preferences as this information will assist us in providing you with our optimum service and will also
                                            save you time for future inquiries and bookings.
                                    </p>
                                    <br>
                                    <p>
                                        Please remember not to give your Login/ID, booking reference and/or password to anyone who is not a member of your immediate
                                         household. You may not give access to your account to any third party on-line service, including, but not limited to any mileage
                                          tracking service, mileage management service or mileage aggregation service. You agree to accept responsibility for all activities
                                           that occur under your account. You should take all necessary steps to ensure that your password and/or booking reference is kept 
                                           confidential and secure and should inform us immediately if you have any reason to believe that your password has become known to
                                            anyone else, or if the password is being, or is likely to be, used in an unauthorized manner.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                
            </div>
        </div>
    </div>
    <!-- privacy-details-section end  -->
    <br><br><br><br>

    <%- include('_footer',{user}) %>


