<%- include('_staff_header_general',{user}) %>
<div class="hold-transition sidebar-mini">
    <div class="container">
        <h3>Upcoming Flights</h3>
        <hr>
        <br>
        <!--test start-->
        <div>
            <div class="nav-tabs-boxed">
                <ul class="nav nav-tabs" role="tablist">
                    <% if((incoming==true && outgoing==false)||(incoming==false && outgoing==false)){%>
                        
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#incomingflights" role="tab"
                            aria-controls="incomingflights" aria-selected="false">Incoming Flights</a></li>
                        <li class="nav-item"><a class="nav-link " data-toggle="tab" href="#outgoingflights" role="tab"
                            aria-controls="outgoingflights" aria-selected="false">Departing Flights</a></li>
                    <% } else{ %>
                    
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#incomingflights" role="tab"
                        aria-controls="incomingflights" aria-selected="false">Incoming Flights</a></li>
                    <li class="nav-item"><a class="nav-link active " data-toggle="tab" href="#outgoingflights" role="tab"
                        aria-controls="outgoingflights" aria-selected="false">Departing Flights</a></li>
                    <% } %>
                </ul>
            </div>
            <div class="tab-content">
                <% if((incoming==true && outgoing==false)||(incoming==false && outgoing==false)){%>
                    <div class="tab-pane active" role="tabpanel" id="incomingflights">
                <% } else{ %>
                    <div class="tab-pane" role="tabpanel" id="incomingflights">
                <% } %>
                    <div class="card mt-3" style="background-color: #c6eaec;"><!--card1 start-->
                        <div class="card-header">
                        <h3 class="card-title"></h3>
                        <%- include('_staff_incoming_dropdown') %>
                        </div>
                        
                        <div class="card-body">
                            
                        <% if (error) {%>
                            <div class="alert alert-danger text-center" role="alert">
                                <%=error%>
                            </div>
                        <% } %>

                        <% if (success) {%>
                            <div class="alert alert-success text-center" role="alert">
                                <%=success%>
                            </div>
                        <% } %>
                        
                        <% for (var i = 0; i < upcomingIncomingFlights.length; i++) { %>
                                
                            <!--ongoing flights start-->
                            <div class="col-lg-12 mb-30">
                                <div class="flight-search-box">
                                    <div class="row"><!--row start-->
                                        <div class="col-lg-4 mb-30"><!--new 1st div-->
                                            <div class="flight-search-item d-flex flex-wrap">
                                                <div class="flight-search-thumb">
                                                    <i class="fa fa-plane" aria-hidden="true"></i>
                                                    
                                                </div>
                                                <div class="flight-search-title">
                                                    <h5 class="title">Schedule ID: <%= upcomingIncomingFlights[i].schedule_id %></h5>
                                                </div>
                                            </div>
                                            <div class="flight-search-body">
                                                <h5 class="flight-start"><%= upcomingIncomingFlights[i].departure_time_utc %></h5>
                                                <h5 class="flight-middle"><%= ("0"+upcomingIncomingFlights[i].duration.hours).slice(-2) %>h<%=  ("0"+upcomingIncomingFlights[i].duration.minutes).slice(-2) %></h5>
                                                <h5 class="flight-end"> <%= upcomingIncomingFlights[i].arrival_time_utc %></h5>
                                            </div>
                                            <div class="flight-place">
                                                <p><span class="start-place">Departure Time</span></p>
                                            </div>
                                        </div><!--new 1st div end-->
                                        <div class="col-lg-8 mb-30"><!--new 2nd div-->
                                            <br/><h6>From:  <%= upcomingIncomingFlights[i].origin %> </br> Departing date: <%= upcomingIncomingFlights[i].departure_date %></h6>
                                            <h6> Arrival date: <%= upcomingIncomingFlights[i].arrival_date %></h6>
                                            <h6>Aircraft ID: <%= upcomingIncomingFlights[i].aircraft_id %> </h6>
                                            <!-- <a href="/staff/general/upcomingFlightsMore" class="btn btn-info float-right" >More Details</a> -->
                                            <form action='/staff/general/moreInfoUpcomingFlight' method=post>
                                                <button type='submit' class='btn btn-outline-info float-right' >More info</button>
                                                <input type='hidden' name='aircraft_id' value=' <%= upcomingIncomingFlights[i].aircraft_id %>'>
                                                <input type='hidden' name='schedule_id' value=' <%= upcomingIncomingFlights[i].schedule_id %>'>
                                            </form>
                                        </div><!--new 2nd div-->
                                </div><!--raw end-->
                                </div>
                            </div>
                            <!--ongoing flights end-->

                        <% } %>


                        </div>
                    </div><!--card1 end-->
                </div>
                <% if((incoming==true && outgoing==false)||(incoming==false && outgoing==false)){%>
                    <div class="tab-pane" role="tabpanel" id="outgoingflights">
                <% } else{ %>
                    <div class="tab-pane active" role="tabpanel" id="outgoingflights">
                <% } %>
                    <!--card2 start-->
                        <div class="card mt-3" style="background-color: #b1dfc0;">
                            <div class="card-header">
                            <h3 class="card-title"></h3>
                            <%- include('_staff_outgoing_dropdown') %>
                            </div>
                            
                            <div class="card-body">
                                
                        <% if (error) {%>
                            <div class="alert alert-danger text-center" role="alert">
                                <%=error%>
                            </div>
                        <% } %>

                        <% if (success) {%>
                            <div class="alert alert-success text-center" role="alert">
                                <%=success%>
                            </div>
                        <% } %>
                        
                        <% for (var i = 0; i < upcomingOutgoingFlights.length; i++) { %>
                                
                            <!--ongoing flights start-->
                            <div class="col-lg-12 mb-30">
                                <div class="flight-search-box">
                                    <div class="row"><!--row start-->
                                        <div class="col-lg-4 mb-30"><!--new 1st div-->
                                            <div class="flight-search-item d-flex flex-wrap">
                                                <div class="flight-search-thumb">
                                                    <i class="fa fa-plane" aria-hidden="true"></i>
                                                    
                                                </div>
                                                <div class="flight-search-title">
                                                    <h5 class="title">Schedule ID: <%= upcomingOutgoingFlights[i].schedule_id %></h5>
                                                </div>
                                            </div>
                                            <div class="flight-search-body">
                                                <h5 class="flight-start"><%= upcomingOutgoingFlights[i].departure_time_utc %></h5>
                                                <h5 class="flight-middle"><%= ("0"+upcomingOutgoingFlights[i].duration.hours).slice(-2) %>h<%=  ("0"+upcomingOutgoingFlights[i].duration.minutes).slice(-2) %></h5>
                                                <h5 class="flight-end"> <%= upcomingOutgoingFlights[i].arrival_time_utc %></h5>
                                            </div>
                                            <div class="flight-place">
                                                <p><span class="start-place">Departure Time</span></p>
                                            </div>
                                        </div><!--new 1st div end-->
                                        <div class="col-lg-8 mb-30"><!--new 2nd div-->
                                            <br/><h6> Departing date: <%= upcomingOutgoingFlights[i].departure_date %></h6>
                                            <h6>To:  <%= upcomingOutgoingFlights[i].destination %> </br> Arrival date: <%= upcomingOutgoingFlights[i].arrival_date %></h6>
                                            <h6>Aircraft ID: <%= upcomingOutgoingFlights[i].aircraft_id %> </h6>
                                            <!-- <a href="/staff/general/upcomingFlightsMore" class="btn btn-info float-right" >More Details</a> -->
                                            <form action='/staff/general/moreInfoUpcomingFlight' method=post>
                                                <button type='submit' class='btn btn-outline-info float-right' >More info</button>
                                                <input type='hidden' name='aircraft_id' value=' <%= upcomingOutgoingFlights[i].aircraft_id %>'>
                                                <input type='hidden' name='schedule_id' value=' <%= upcomingOutgoingFlights[i].schedule_id %>'>
                                            </form>
                                        </div><!--new 2nd div-->
                                </div><!--raw end-->
                                </div>
                            </div>
                            <!--ongoing flights end-->

                        <% } %>

                        
                            </div>
                        </div><!--card2 end-->
                </div>
            </div>
        </div>

        <!--test end-->

    </div><!--container div closed-->
</div>
<%- include('_staff_footer_2') %>